(
    movement: (
        acceleration: 100.0,
        max_speed: 400.0,
        friction: 10.0
    ),

    default_skin: "default",


    skins: {
        "default": ["body"],
        "simple_guy": ["body", "hair_1"]
    }
)